@import "tailwindcss";

.theme-green {
  --color-primary: #299d91;
}

.theme-blue {
  --color-primary: #1e90ff;
}

.theme-purple {
  --color-primary: #6a5acd;
}

.theme-pink {
  --color-primary: #db7093;
}

.theme-brown {
  --color-primary: #8b4513;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.border-primary {
  border-color: var(--color-primary);
}

@theme {
  --color-defaultblack: #111827;

  --color-special-bg2: #ffffff;
  --color-special-mainbg: #f9fafb;

  --color-special-bg3: #1f2937;

  --color-gray-03: #9ca3af;
  --color-gray-05: #e5e7eb;
  --color-gray-40: #d1d5db;
}